* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}


.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  color: white;
  font-size: 20px;
}

/*header*/
header {
  height: 65px;
  width: 100%;
  background-color: rgba(85, 85, 85, 0.95);
  position :fixed;
  top: 0;
  z-index: 10;
}
.header-left {
  float: left;
}
.header-title {
  width: 124px;
  margin-top: 20px;
  font-size: 30px;
  color: white;
  display: block;
}
.header-right {
  float: right;
  margin-right: -25px;
}
.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}
.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}


/*top*/
.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://images.unsplash.com/photo-1497032628192-86f99bcd76bc?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  text-align: center;
}
.top-wrapper h1 {
  opacity: 0.9;
  font-size: 45px;
  letter-spacing: 20px;
}


.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}
.text {
  color: black;
  font-size:16px;
}


/*About*/
.About-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f0f0f0;
  text-align: center;
}

/*Skill*/
.Skill-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #ffffff;
  text-align: center;
}

/*Example*/
.Example-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #ffffff;
  text-align: center;
}

/*Contact*/
.Contact-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f0f0f0;
  border-bottom: 1px solid #eee;
  text-align: center;
}

/*footer*/
footer {
  padding-top: 30px;
  padding-bottom: 20px;
}
footer p {
  color: #b3aeb5;
  font-size: 12px;
}